@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --gradient: linear-gradient(to top left,#1488CC,#2B32B2);
    --background: 0 0% 95%;
    --foreground: 216 0% 0%;
    --card: 216 0% 90%;
    --card-foreground: 216 0% 10%;
    --popover: 216 0% 95%;
    --popover-foreground: 216 95% 0%;
    --primary: 216 100% 68.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 216 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 178 10% 85%;
    --muted-foreground: 216 0% 35%;
    --accent: 178 10% 80%;
    --accent-foreground: 216 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 216 0% 90%;
    --border: 216 20% 50%;
    --input: 216 20% 18%;
    --ring: 216 100% 68.8%;
    --radius: 0.75rem;
  }
  .dark  {
    --gradient: linear-gradient(to top left,#1488CC,#2B32B2);
    --background: 204 10% 5%;
    --foreground: 216 0% 90%;
    --card: 216 0% 0%;
    --card-foreground: 216 0% 90%;
    --popover: 216 10% 5%;
    --popover-foreground: 216 0% 90%;
    --primary: 216 100% 68.8%;
    --primary-foreground: 0 0% 0%;
    --secondary: 216 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 178 10% 15%;
    --muted-foreground: 216 0% 60%;
    --accent: 178 10% 15%;
    --accent-foreground: 216 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 216 0% 90%;
    --border: 216 20% 18%;
    --input: 216 20% 18%;
    --ring: 216 100% 68.8%;
    --radius: 0.75rem;
  }
}

.bg-gradient { background: var(--gradient) }

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
