@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root  {
      --background: 211 32% 95%;
      --foreground: 211 5% 0%;
      --card: 211 32% 90%;
      --card-foreground: 211 5% 10%;
      --popover: 211 32% 95%;
      --popover-foreground: 211 95% 0%;
      --primary: 211 88% 58%;
      --primary-foreground: 0 0% 100%;
      --secondary: 211 30% 70%;
      --secondary-foreground: 0 0% 0%;
      --muted: 173 30% 85%;
      --muted-foreground: 211 5% 35%;
      --accent: 173 30% 80%;
      --accent-foreground: 211 5% 10%;
      --destructive: 0 50% 30%;
      --destructive-foreground: 211 5% 90%;
      --border: 211 30% 50%;
      --input: 211 30% 18%;
      --ring: 211 88% 58%;
      --radius: 0.75rem;
      --navigation: 211 32% 0%;
    }
    .dark  {
      --background: 211 32% 5%;
      --foreground: 211 5% 90%;
      --card: 211 32% 0%;
      --card-foreground: 211 5% 90%;
      --popover: 211 32% 5%;
      --popover-foreground: 211 5% 90%;
      --primary: 211 88% 58%;
      --primary-foreground: 0 0% 100%;
      --secondary: 211 30% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 173 30% 15%;
      --muted-foreground: 211 5% 60%;
      --accent: 173 30% 15%;
      --accent-foreground: 211 5% 90%;
      --destructive: 0 50% 30%;
      --destructive-foreground: 211 5% 90%;
      --border: 211 30% 18%;
      --input: 211 30% 18%;
      --ring: 211 88% 58%;
      --radius: 0.75rem;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }